#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// 页面内容 父容器
.theme-container {
  flex: 1;
  background-color: var(--color-canvas-subtle);
}

.theme-search-container,
.theme-posts-container {
  padding: 25px 0;
}

.theme-post-container {
  padding-top: var(--navbar-height);
  display: flex;
}

// 通用页面内容 父容器
.theme-common-container {
  padding-top: 80px;
  padding-bottom: 50px;
}

// 页面内容容器
.theme-content {
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 30px 0;

  .markdown-body {
    margin: 0;
  }
}

.search-container {
  width: calc(var(--content-width) - var(--aside-width));
}

.theme-wrapper {
  flex: 1;
}

.theme-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  z-index: -99;
}

// back to top
.back-to-top {
  position: fixed;
  bottom: var(--navbar-height);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 32px;
  text-align: center;
  line-height: 36px;
  box-shadow: var(--color-fg-muted) 0px 2px 6px;
  background-color: var(--color-canvas-default);
  cursor: pointer;
  &:hover {
    color: var(--color-accent-fg);
    box-shadow: var(--color-accent-fg) 0px 2px 6px;
    .select-box {
      color: var(--color-fg-default);
    }
  }
  .iconfont {
    font-size: 26px;
  }
}

// 卡片容器
.card-box {
  border-radius: 5px;
  background: var(--color-canvas-default);
  box-shadow: 0 1px 3px rgb(249 249 249 / 8%), 0 0 0 1px rgb(26 53 71 / 4%),
    0 1px 1px rgb(26 53 71 / 6%);
}

// 空白容器
.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-secondary);
  flex-direction: column;
  min-height: 400px;

  .iconfont {
    font-size: 50px;
    color: var(--color-text-secondary);
    margin-bottom: 25px;
  }
}

// animation delay
.animate__delay-p7 {
  animation-delay: 0.7s;
}

.animate__delay-p8 {
  animation-delay: 0.8s;
}

// 分割线
.theme-divider {
  width: 100%;
  border-bottom: 1px dashed var(--color-border-default);
  margin: 25px 0;
}

.giscus-comment {
  padding: 15px;
  background-color: var(--color-canvas-default);
}

.post-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .post-info {
    font-weight: normal;
  }
}

.toc-btn,
.aside-btn {
  position: fixed;
  display: none;
  right: 5px;
  background-color: var(--color-accent-fg);
  color: var(--color-white);
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border: 1px solid var(--color-border-default);
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
}

.toc-btn {
  top: 75px;
}

.aside-btn {
  top: 130px;
}

@media (max-width: $MQNarrow) {
  #app {
    // background-color: var(--color-canvas-subtle);
  }
  .home-comment-aside {
    display: none;
  }
  .theme-background {
    // display: none;
  }

  #tsparticles {
    // display: none;
  }
  .post-wrapper {
    width: 100%;
  }

  .theme-container {
    padding: 0 3%;
    padding-top: calc(var(--navbar-height) + 25px);
    padding-bottom: 25px;
  }

  .theme-content {
    width: 100%;
    flex-direction: column;
  }

  .theme-wrapper {
    width: 100%;
  }

  .theme-search-container {
    padding-top: 25px;
  }

  .theme-posts-container .theme-content {
    flex-direction: column-reverse;
  }

  .posts-container {
    margin-bottom: 25px;
  }

  .toc-btn,
  .aside-btn {
    display: block;
  }
  .theme-post-container {
    padding-top: var(--navbar-height);
  }
  .theme-home-container {
    padding-top: 0;
  }
}

@media (max-width: $MQMobile) {
  .back-to-top {
    right: 15px;
  }
  .theme-post-container {
    margin-top: 0;
    display: block;
  }

  .post-wrapper {
    width: 100%;
  }

  .post-container {
    margin-top: 0;
  }

  .theme-container {
    padding-top: calc(var(--navbar-height) + 12px);
  }
  [data-aos^='fade'][data-aos^='fade'] {
    opacity: 1;
    transform: none;
  }
  .theme-home-container {
    padding-top: 0;
  }
}
