.theme-footer {
  @include navbar-base();
  @include flex-middle();
  .delimiter {
    margin: 0 8px;
  }
}

.home-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
  box-shadow: none;
  .beian,
  .delimiter,
  .info {
    font-size: 18px;
    color: var(--color-white);
  }
}

// 页脚内容
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  .medias {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    a {
      color: var(--color-white);
      font-size: 35px;
      margin: 0 15px;
      transform-origin: center;
      transition: transform var(--t-transform);

      &:hover {
        // color: var(--color-primary);
        transform: scale(1.15);
      }
    }
  }
}

.theme-common-footer,
.home-comment-footer {
  display: none;
}

@media (max-width: $MQNarrow) {
  .theme-common-footer,
  .home-comment-footer {
    display: flex;
  }

  .footer-content {
    .medias {
      padding-top: 50px;
      align-items: flex-start;
      a {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: $MQMobile) {
  .theme-footer {
    height: auto;
    .copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0;
    }
    .beian {
      margin-bottom: 5px;
      font-size: 14px;
    }
    .delimiter {
      display: none;
    }
    .info {
      font-size: 14px;
    }
  }
}
