.theme-header {
  transition: height var(--t-transform);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  @include navbar-base();

  .logo-link {
    display: flex;
    align-items: center;
    .logo {
      height: 45px;
    }
    .title {
      margin-left: 6px;
      font-size: 20px;
    }
  }

  .navbar {
    display: flex;
    align-items: center;

    & > .navbar-dropdown,
    & > .navbar-item {
      padding: 10px 15px;
      font-size: 17px;
    }
  }

  .navbar-item {
    .iconfont {
      margin-right: 3px;
    }
  }

  .navbar-dropdown {
    cursor: pointer;
    position: relative;
    .arrow {
      transition: all 500ms;
      margin-left: 8px;
      @include arrow(down);
    }
    &:hover {
      .navbar-dropdown-subitem-wrapper {
        display: block;
      }
      .arrow {
        border-color: transparent;
        @include arrow(up);
      }
    }
  }

  .navbar-dropdown-subitem-wrapper {
    display: none;
    padding: 5px 0;
    position: absolute;
    background-color: var(--color-canvas-default);
    right: 0;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    margin-top: 8px;
    .navbar-item {
      transition: all var(--t-transform);
      font-size: 15px;
      display: block;
      padding: 4px 25px 4px 15px;
      white-space: nowrap;

      .iconfont {
        font-size: 15px;
      }

      &:hover {
        color: var(--color-accent-fg);
        background-color: var(--color-canvas-subtle);
      }
    }
  }

  .theme-toggle {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    margin: 0 8px;
    padding: 0;
    color: var(--color-fg-default);
    background-color: transparent;
    &:hover {
      color: var(--color-accent-fg);
    }
    .iconfont {
      font-size: 20px;
    }
  }

  &.active {
    height: 80px;
    padding: 0 30px;
    background-color: transparent;
    box-shadow: none;
    .theme-toggle {
      color: var(--color-white);
    }

    .logo-link,
    .navbar-dropdown {
      .title {
        color: var(--color-white);
      }
    }

    .navbar-dropdown {
      .arrow {
        @include arrow(down, var(--color-white));
      }
      &:hover {
        .arrow {
          border-color: transparent;
          @include arrow(up, var(--color-white));
        }
      }
    }

    &.active .navbar > .navbar-item {
      color: var(--color-white);
    }
  }

  @media (max-width: $MQNarrow) {
    &,
    &.active {
      height: 100vh;
      transition: transform 0.2s ease;
      width: 17.099999999999998rem;
      background-color: var(--color-canvas-default);
    }
  }
}
