.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    background-color: var(--color-canvas-default);
    padding: 8px;
    border-radius: 50px;
  }

  li {
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: var(--t-transform);
    color: var(--color-accent-fg);
  }

  .numb {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 3px;
  }

  .btn {
    padding: 0 20px;
    cursor: pointer;
    &:hover {
      color: var(--color-accent-fg);
    }

    &[disabled='true'] {
      color: var(--color-fg-subtle);
      cursor: not-allowed;
    }
  }

  .dots {
    font-size: 22px;
    cursor: default;
  }

  .active,
  .numb:hover {
    color: #fff;
    background-color: var(--color-accent-fg);
  }
  @media (max-width: $MQMobile) {
    align-items: center;
    .btn {
      padding: 0 8px;
    }
    ul {
      padding: 0;
    }
    li {
      height: 35px;
    }

    .numb {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }

    .dots {
      line-height: 35px;
    }
  }
}
