.post-aside {
  width: 280px;
  background-color: var(--color-canvas-default);
  height: calc(100vh - var(--navbar-height));
  border-right: 1px solid var(--color-border-default);
  position: sticky;
  top: var(--navbar-height);
  overflow: auto;
  transition: var(--t-transform);

  .menu-list {
    padding: 25px 0;
  }

  .menu-item {
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;

    &.active {
      .navbar-item {
        color: var(--color-accent-fg);
        font-size: 17px;
        // font-weight: bold;
      }

      &::before {
        @include item-active-label();
        left: 5px;
      }
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }

    .arrow {
      transition: all 500ms;
      margin-left: 8px;
      @include arrow(right);

      &.down {
        border-color: transparent;
        @include arrow(down);
      }
    }
  }

  .menu-sub-list {
    padding-top: 8px;
  }
}

@media (max-width: $MQNarrow) {
  .post-aside {
    position: fixed;
    left: 0;
    z-index: 999;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }
}
