.post-aside {
  width: 280px;
  background-color: var(--color-canvas-default);
  height: calc(100vh);
  border-right: 1px solid var(--color-border-default);
  position: sticky;
  top: var(--navbar-height);
}
