.posts-container {
  align-self: stretch;

  .posts {
    padding: 50px 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .posts-item {
    width: 50%;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .navbar-item {
      font-size: 18px;
    }
  }

  .post-content {
    padding: 15px 15px;

    h1 {
      margin: 10px 0;
      padding-top: 0;
      font-size: 24px;
    }

    p {
      line-height: 1.5;
      font-size: 15px;
      text-indent: 2em;
      margin-bottom: 8px;
    }
  }

  @media (max-width: $MQNarrow) {
    .header {
    }
  }
}

.posts-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  height: 180px;
  text-shadow: 0 2px 3px var(--color-border-muted);
  @media (max-width: $MQNarrow) {
    height: 0;
  }
}
