.post-list {
  .post-item {
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    padding: 1rem 1.5rem;
    position: relative;
    background-image: url('../images/post.svg');
    // &:first-child {
    //   margin-top: 0;
    // }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      top: 0;
      left: 0;
    }

    .post-section {
      position: relative;
      width: 80%;
      z-index: 1;
    }

    .post-title {
      margin: 0.5rem 0;

      a {
        display: block;
        font-size: 1.4rem;
      }
    }

    .post-excerpt {
      border-top: 1px solid var(--color-border-muted);
      margin: 0.5rem 0;
      height: 5rem;
      padding: 1rem 0;
      font-size: 15px;
      color: var(--color-fg-muted);
      line-height: 1.5;
      // 超出文本处理
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* 这里是超出几行省略 */
      overflow: hidden;
    }

    .post-footer {
      margin-top: 1.5rem;
      letter-spacing: 1px;
      text-align: right;
      a {
        color: var(--color-fg-muted);
        &:hover {
          color: var(--color-accent-fg);
        }
      }
    }

    &.left {
      &::after {
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          var(--color-canvas-default) 25%
        );
      }
      .post-section {
        left: 20%;
      }
    }

    &.right {
      &::after {
        background: linear-gradient(
          to left,
          rgba(255, 255, 255, 0) 0%,
          var(--color-canvas-default) 25%
        );
      }
    }
  }
}
.post-info {
  font-size: 14px;
  color: var(--color-fg-muted);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  .post-type:not(:last-child) {
    &::after {
      content: ' 、';
    }
  }

  .post-type {
    cursor: pointer;
    font-style: normal;
    color: var(--color-fg-muted);
    &:hover {
      color: var(--color-accent-fg);
    }
  }

  .iconfont {
    color: var(--color-fg-subtle);
    margin-right: 3px;
    vertical-align: middle;
  }

  .post-info-item {
    margin-right: 1rem;
  }
}

@media (max-width: $MQMobile) {
  .post-list .post-item {
    padding: 0.5rem 1rem;
    margin-bottom: 12px;
    .post-section {
      width: 100%;
    }
    &.left {
      .post-section {
        left: 0;
      }
    }

    .post-footer {
      display: none;
    }

    .post-title {
      a {
        font-size: 18px;
      }
    }

    .post-excerpt {
      font-size: 14px;
    }
  }
}
