.post-tocs {
  width: var(--aside-width);
  margin-left: 15px;
  position: sticky;
  top: 90px;

  .vuepress-toc-list {
    padding-left: 12px;
  }

  .vuepress-toc-link {
    color: var(--color-fg-muted);
    position: relative;

    &.active {
      color: var(--color-accent-fg);
      &::before {
        @include item-active-label();
        left: -10px;
      }
    }
  }

  .vuepress-toc-item {
    margin-bottom: 8px;
  }
}
