:root {
  // colors
  --color-fg-default: #24292f; // 默认文字颜色
  --color-fg-muted: #57606a; // 次要文字颜色
  --color-fg-subtle: #6e7781; // 占位文字颜色
  --color-canvas-default: #ffffff; // 默认背景颜色
  --color-canvas-subtle: rgb(246, 248, 250); // 次要背景颜色
  --color-border-default: #d0d7de; // 默认边框颜色
  --color-border-muted: hsla(210, 18%, 87%, 1); // 次要边框颜色
  --color-accent-fg: #0969da; // 主题色
  // =====
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #cf222e;
  // decor
  --decor-bg-1: rgba(246, 248, 250, 0.1);
  --decor-bg-2: rgba(246, 248, 250, 0.3);
  --decor-bg-3: rgba(246, 248, 250, 0.5);
  // other
  --color-white: #fff;

  // sizes
  --navbar-height: 60px;
  --content-width: 1100px;
  --aside-width: 235px;

  // transition vars
  --t-transform: 0.3s ease;

  // font-family
  --font-family-code: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  // code blocks vars
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: var(--color-fg-muted);
  --code-ln-wrapper-width: 3.5rem;
  --code-bg-color: var(--color-canvas-subtle);
  --code-default-color: var(--color-fg-muted);

  // custom container colors
  --c-tip: #42b983;
  --c-tip-bg: var(--color-canvas-subtle);
  --c-tip-title: var(--color-fg-defaul);
  --c-tip-text: var(--color-fg-defaul);
  --c-tip-text-accent: var(--color-accent-fg);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--color-fg-defaul);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--color-fg-defaul);
  --c-details-bg: #eeeeee;
  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);
}

.dark:root {
  --color-fg-default: #c9d1d9;
  --color-fg-muted: #8b949e;
  --color-fg-subtle: #484f58;
  --color-canvas-default: #0d1117;
  --color-canvas-subtle: rgb(22, 27, 34);
  --color-border-default: #303841;
  --color-border-muted: #21262d;
  --color-accent-fg: #58a6ff;
  // =====
  --color-attention-subtle: rgba(187, 128, 9, 0.15);
  --color-danger-fg: #f85149;
  // decor
  --decor-bg-1: rgba(22, 27, 34, 0.1);
  --decor-bg-2: rgba(22, 27, 34, 0.3);
  --decor-bg-3: rgba(22, 27, 34, 0.5);
}
