.navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  display: flex;
  align-items: center;
  transition: height var(--t-transform);
  //
  color: var(--color-text-primary);
  height: 60px;
  background-color: var(--background-color-primary);
  padding: 0 25px;
  border-bottom: 1px solid var(--border-color-base);
  a {
    color: var(--color-text-regular);
  }
  .search-button {
    display: none;
  }
  .logo-wrapper {
    display: flex;
  }

  &.active {
    color: var(--color-white);
    height: 80px;
    background-color: transparent;
    padding: 0 50px;
    border-bottom: 1px none;
    a {
      color: var(--color-white);
    }
    .search-button {
      display: block;
    }
    .logo-wrapper {
      display: none;
    }
    .logo-svg {
      path {
        fill: var(--color-white);
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .menu-button,
  .search-button,
  .close-button {
    font-size: 28px;
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  // navbar-items
  .navbar-items {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    a {
      &:hover,
      &.router-link-active {
        color: var(--color-primary);
      }
    }

    .navbar-item {
      position: relative;
      cursor: pointer;
      padding: 0 1rem;
    }
  }
}

.navbar-items {
  .search-button {
    color: var(--color-text-primary);
    display: block;
    font-size: 18px;
  }
  .navbar.not-home.active & {
    .search-button {
      color: var(--color-white);
      display: block;
    }
  }

  .navbar.not-home & {
    .search-button {
      color: var(--color-text-primary);
      display: block;
    }
  }

  .navbar.active & {
    .search-button {
      display: none;
    }
  }
}

// dropdown

.navbar-dropdown-wrapper {
  cursor: pointer;

  &.isActive {
    .navbar-dropdown-title {
      color: var(--color-primary);
    }
  }

  .navbar-dropdown-title {
    .arrow {
      vertical-align: middle;
      margin-top: -1px;
      margin-left: 0.4rem;
      &.up {
        @include arrow(up, var(--color-primary));
      }

      &.down {
        @include arrow(down);
        .navbar.active & {
          @include arrow(down, var(--color-white));
        }
      }
    }
  }

  .navbar-dropdown {
    position: absolute;
    right: 0;
    background-color: var(--background-color-primary);
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid var(--border-color-base);
    padding-top: 0.8rem;
    // &::before {
    //   $arrow-szie: 8px;
    //   content: '';
    //   @include arrow(up, var(--color-whi), $arrow-szie, $arrow-szie);
    //   position: absolute;
    //   top: -$arrow-szie + 1;
    //   right: 0.7rem;
    // }
    .navbar-dropdown-item {
      .navbar-dropdown-subtitle {
        color: var(--color-text-primary);
        padding: 8px 20px;
        border-top: 1px solid var(--border-color-light);
        font-size: 15px;
      }

      &:first-child .navbar-dropdown-subtitle {
        padding-top: 0;
        border-top: 0;
      }

      .navbar-dropdown-subitem {
        font-size: 15px;
      }

      a {
        color: var(--color-text-regular);
        display: flex;
        position: relative;
        padding: 0 1.5rem 0 1.25rem;
        margin-bottom: 8px;
        white-space: nowrap;

        svg {
          margin-left: 8px;
        }

        &:hover {
          color: var(--color-primary);
        }

        &.router-link-active {
          color: var(--color-primary);

          &::after {
            content: '';
            @include arrow(right, var(--color-primary));
            position: absolute;
            top: calc(50% - 2px);
            left: 9px;
          }
        }
      }
    }
  }
}
