* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-text-primary);
  background-color: var(--background-color-base);
}

a {
  text-decoration: none;
  overflow-wrap: break-word;
  color: var(--color-primary);
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

@each $i in 1, 2, 3, 4, 5, 6 {
  h#{$i} {
    margin: 0;
    font-weight: 600;
    line-height: 1.25;
  }
}

h2 {
  padding-bottom: 0.3rem;
}
